{% extends "base.html" %} {% block title %}index{% endblock title %} 
{% block content %}
<div class="container">
  <div class="row text-center justify-content-center column-gap-4">
    {% for i in categories %}
    <div class="card col-3 mt-5">
      <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{i.strCategory}}</h5>
        <h5>{{i.idCategory}}</h5>
        <p class="card-text">
          {{ i.strCategoryDescription | truncatewords:10 }}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
