{% extends "base.html" %}
{% block title %}show_list{% endblock title %}
{% block content %}
<h1>Nothing mentioned  only mentioned create a navbar </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">type</th>
        <th scope="col">color</th>
        <th scope="col">weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}